<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles/styles.css" />
        <title>Вакансії</title>
    </head>
    <body>
        <form method="POST">
            <input type="text" name="newUsername" placeholder="New Username">
            <input type="password" name="newPassword" placeholder="New Password">
            <button type="submit">Заєреструватися</button>
        </form>    
    </body>
</html>